<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Header</title>
</head>
<body>
		<ul class="nav justify-content-end" th:fragment="headeruser" style="background-color: #e3f2fd;">
			<li class="nav-item"><a class="nav-link active" th:href="@{/}">Cá Nhân</a></li>
			<li class="nav-item"><a class="nav-link active" th:href="@{/congviec}">Công Việc</a></li>
			<li class="nav-item"><a class="nav-link active" th:href="@{/dangkicalam}">Đăng ký làm</a></li>
			<li class="nav-item"><a class="nav-link active" th:href="@{/tkluong}">Lương</a></li>
		</ul>
</body>
</html>





